<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Information</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class = "logo">Our Wedding</div>
            <ul class = "nav-links">
                <li><a href="#about">About Us</a></li>
                <li><a href="#ceremony&lunch">Ceremony & Lunch</a></li>
                <li><a href="#receptionparty">Reception Party</a></li>
                <li><a href="#rsvp">RSVP</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "about">
            <h2> Wedding Day</h2>
            <p>We gettin' married, y'all</p>
        </section>

        <div class="parallax-image"></div>

        <section id = "Ceremony & Lunch">
            <h2> Ceremony & Lunch</h2>
            <p>Below are the details for wedding ceremony and following lunch party</p>
            <p>The ceremony and lunch are for close family and friends only, the reception party in the evening is an open invite to our wider friends!</p>

            <h3>Ceremony Details</h3>
            <div class="info-container">
                <div class="info-block">
                    <h3>When</h3>
                    <p>Monday, July 28th, 2025<br>10:30 AM</p>
                    <h4> Notes:</h4>
                </div>

                <div class="divider"></div>

                <div class="info-block">
                    <h3>Where</h3>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.0953186821685!2d-0.14001670000000002!3d50.820695799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875850bb570408f%3A0x791f08e896b1acda!2sBrighton%20Town%20Hall!5e1!3m2!1sen!2suk!4v1749140389734!5m2!1sen!2suk" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p>Bartholomew Rd.<br>Brighton and Hove, BN1 1JW</p>
                </div>
                </div>



            <h3>Lunch Details</h3>
            <div class="info-container">
                <div class="info-block">
                    <h3>When</h3>
                    <p>Monday, July 28th, 2025<br>12:30 PM</p>
                    <h4> Notes:</h4>
                </div>
                <div class="divider"></div>
                <div class="info-block">
                    <h3>Where</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.487294617476!2d-0.17766152342029162!3d50.830371571667264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875854ed718c1e1%3A0x62a608a11c7e279e!2sThe%20Urchin%20Brewery%20%26%20Shellfish%20Pub!5e1!3m2!1sen!2suk!4v1749140606469!5m2!1sen!2suk" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p>The Urchin<br>15-17 Belfast St<br>Brighton and Hove, BN3 3YS</p>
        </section>

        <section id = "Reception Party">
            <h2> Reception Party</h2>
            <p>Where the party at!!</p>

            <div class="info-container">
                <div class="info-block">
                    <h3>When</h3>
                    <p>Monday, July 28th, 2025<br>7:30 PM</p>
                    <h4> Notes:</h4>
                </div>
                <div class="divider"></div>
                <div class="info-block">
                    <h3>Where</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.123443775345!2d-0.14394679999999999!3d50.820248199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487585271e40feb1%3A0x2812633a43dd60cb!2sWaterBear%20Venue!5e1!3m2!1sen!2suk!4v1749141434734!5m2!1sen!2suk" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p>The WaterBear Venue<br>170 Kings Road Arches<br>Brighton and Hove, BN1 1NB</p>
        </section>
        <section id = "rsvp">
            <h2> RSVP</h2>
            <p>Let us know if you comin'</p>
    </main>


    <footer>
        <p>Ashley & Luca's Wedding!!</p>
    </footer>
</body>
</html>