<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Information</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class = "logo">Our Wedding</div>
            <ul class = "nav-links">
                <li><a href="#about">About Us</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#location">Location</a></li>
                <li><a href="#rsvp">RSVP</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "about">
            <h2> Wedding Day</h2>
            <p>We gettin' married, y'all</p>
        </section>

        <section id = "schedule">
            <h2> Schedule</h2>
            <p>When shits happening</p>
        </section>

        <section id = "location">
            <h2> Location</h2>
            <p>Where the party at</p>
        </section>
        <section id = "rsvp">
            <h2> RSVP</h2>
            <p>Let us know if you comin'</p>
    </main>


    <footer>
        <p>Ashley & Luca's Wedding!!</p>
    </footer>
</body>
</html>